/* ====================
   TOPBAR
==================== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background-color: var(--background);
    border-bottom: 1px solid #222; /* Легкий роздільник */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar-left, .topbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    background: none;
    border: none;
    color: var(--text);
    font-size: 24px;
    cursor: pointer;
}

.logo {
    background-color: var(--primary);
    color: var(--text);
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    padding: 5px 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    text-transform: uppercase;
}

.login-btn {
    background: transparent;
    border: 1px solid #444;
    color: var(--text);
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    border-color: var(--text);
}

/* ====================
   FOOTER
==================== */
.footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #222;
    margin-top: 50px;
    color: #888;
    font-size: 14px;
}